In [301]:
# Importing the core libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [302]:
# Importing the dataset into relevant matrices and vectors
dataset = pd.read_csv('dataset.csv')
dataset['Gender'].replace('Male', 0, inplace = True)
dataset['Gender'].replace('Female', 1, inplace = True)
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [303]:
# Making training and testing sets
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [304]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

# Scaling data
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler(feature_range=(-1,1)).fit(X_train)
X_train = scaling.transform(X_train)
X_test = scaling.transform(X_test)

In [305]:
# Fitting algorithms to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', cache_size=7000)
classifier.fit(X_train, y_train)


from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [306]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [307]:
# Finding the model's accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.9

In [308]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[41,  6],
       [ 2, 31]])